export ROOT="/Users/phepato/Documents/dev/Lemon/ImageRecogMl"
export API_HOST="127.0.0.1"
export API_PORT="3333"

export LEARNING_RATE="0.001"
export MODEL_NAME="pato3"
export BATCH_SIZE="5"
export EPOCHS="100"
export SAMPLES_PER_CLASS="1800"
